* {
  color: var(--xiketic);
  letter-spacing: 0.02em;
}
body {
  overflow-x: hidden;
}
.overcast {
  display: block;
  height: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
a:hover {
  color: inherit;
}
p {
  margin: 0px;
}
body {
  margin: 0px;
}
a {
  text-decoration: none;
}

img {
  object-fit: cover;
  overflow: hidden;
  display: block;
}
.container-fluid {
  padding: 0px 40px;
}
:root {
  --rich-black: #0b090a;
  --eerie-black: #161a1d;
  --cultured: #f5f3f4;
  --selective-yellow: #ffba08;
  --orange-web: #faa307;
  --persimmon: #e85d04;
  --vermilion: #dc2f02;
  --xiketic: #03071e;
  --dark-siena: #370617;
  --rose-wood: #6a040f;
  --light-grey: #d3d3d3;
  --silver-charlice: #b1a7a6;
  --carrot: #f48c06;
  --imperial-red: #e5383b;
}
@font-face {
  font-family: "condensed-bold";
  src: url("./fonts/HelveticaNeue-CondensedBold.otf");
}
@font-face {
  font-family: "bold";
  src: url("./fonts/HelveticaNeue-Bold.otf");
}
@font-face {
  font-family: "italic";
  src: url("./fonts/HelveticaNeue-Italic.otf");
}
@font-face {
  font-family: "regular";
  src: url("./fonts/HelveticaNeue.otf");
}
@font-face {
  font-family: "light";
  src: url("./fonts/HelveticaNeue-Light.otf");
}
@font-face {
  font-family: "medium";
  src: url("./fonts/HelveticaNeue-Medium.otf");
}
@font-face {
  font-family: "chillax";
  src: url("./fonts/Chillax-Bold.otf");
}
@font-face {
  font-family: "reckless";
  src: url("./fonts/RecklessNeue-Light.ttf");
}
.bold {
  font-family: "bold";
}
.regular {
  font-family: "regular";
}
.light {
  font-family: "light";
}
.medium {
  font-family: "medium";
}
.chillax {
  font-family: "chillax";
}
.nav-link {
  display: inline-block;
  position: relative;
}
.condensed-bold {
  font-family: "condensed-bold";
}
.italic {
  font-family: "italic";
}

.nav-bar {
  display: flex;
  align-items: center;
  font-family: bold;
  font-size: 16px;
}
.nav-bar a {
  flex-direction: column;
  padding: 6px 16px;
  line-height: 120%;
  align-self: center;
}
/* .nav-bar a::after {
  position: relative;
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background: var(--xiketic);
  bottom: -8px;
  visibility: hidden;
  text-align: center;
  transition: visibility 0.2s;
  transition-timing-function: ease-in;
} */
/* .nav-bar a:hover::after {
  visibility: visible;
  /* transition: ease-in-out 0.5s; */
/* transition: hidden 1s; */
/* transition: visibility 0.2s;
  transition-timing-function: ease-out;
} */
/* .nav-bar a:hover {
  position: relative;
  bottom: 2px;
  color: var(--xiketic);
} */
a {
  color: var(--rich-black);
}
header {
  display: flex;
  background-color: var(--selective-yellow);
  min-height: 76px;
  padding-left: 24px;
  padding-right: 24px;
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  margin: 0px;
  overflow: visible;
}
header .row {
  margin-top: auto;
  margin-bottom: auto;
}
.logo {
  color: var(--cultured);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo p {
  margin: 0;
  color: var(--xiketic);
}
.upper-text {
  font-family: "chillax";
  font-style: bold;
  font-size: 25px;
  margin-bottom: 4px;
  line-height: 110%;
}
.lower-text {
  line-height: 110%;
}
.cart-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
aside {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cart-icon .icon {
  display: inline-block;
  background: url("./icons/cart.svg");
  color: var(--orange-web);
  width: 24px;
  height: 24px;
  position: relative;
  align-items: center;
}
.cart-icon .icon::after {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--vermilion);
  position: absolute;
  top: 0px;
  left: 20px;
}

.cart-icon .dropdown-button {
  display: inline-block;
  background: url("./icons/triangle-1.svg");
  margin-left: 4px;
  width: 7px;
  height: 6px;
}
.banner {
  height: 562px;
  background-image: url("./icons/minimal-coffee\ .webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.banner .sub-tittle {
  font-family: "light";
  line-height: 19.34px;
  font-size: 16px;
  margin-bottom: 16px;
}
.banner .banner-tittle {
  font-family: "bold";
  line-height: 49px;
  font-size: 49px;
  margin-bottom: 28px;
}
.banner .text {
  font-family: "light";
  line-height: 19.34px;
  font-size: 16px;
  margin-bottom: 44px;
}
/* .banner button {
  background-color: transparent;
  border: 1px solid var(--rich-black);
  font-family: "regular";
  line-height: 19.34px;
  font-size: 16px;
  padding: 8px 14px;
}
.banner button:hover,
.priceMore-New-arrival .more:hover {
  background: #80808020;
  transition: 0.2s;
} */
.hbtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 8px 14px;
  margin: 0px 3px 6px;
  text-align: center;
  border: 1px solid var(--rich-black);
  text-decoration: none;
  color: var(--rich-black);
  white-space: nowrap;
  z-index: 0;
}

.hbtn i {
  padding-right: 8px;
}

.hb-border-left-br4 {
  position: relative;
  transition-duration: 0.3s;
  overflow: visible;
  box-sizing: border-box;
  border: none;
  padding: 10px 22px;
}

.hb-border-left-br4::after {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  border: 2px solid var(--rich-black);
  z-index: 2;
  margin: 0px;
  bottom: 0px;
  left: 0px;
  border-right-width: 2px;
  transition: border-right-width 0.1s ease 0.2s, width 0.2s ease 0.1s,
    height 0.2s ease 0s, margin 0.2s ease 0s, border-left-width 0.2s ease 0s;
}

.hb-border-left-br4:hover::after {
  width: 0px;
  height: 60%;
  border-width: 2px 0px 0.14px;
  margin: 5% 0px;
  transition: border-right-width 0.1s ease 0s, width 0.2s ease 0.1s,
    height 0.2s ease 0.2s, margin 0.2s ease 0.2s,
    border-left-width 0.2s ease 0.2s;
}

.banner .wraper {
  width: 347px;
  position: absolute;
  left: 158px;
  top: 158px;
}
.new-arrival .container-fluid {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0px;
}
.para {
  text-align: right;
  width: 624px;
  padding-top: 92px;
}
.tittle {
  font-size: 39px;
  line-height: 48px;
  padding-top: 68px;
  margin-bottom: 49px;
  text-align: center;
}
.para .sub-tittle {
  font-size: 25px;
  line-height: 38px;
  margin-bottom: 24px;
}
.tittle,
.para .sub-tittle {
  color: var(--rich-black);
}
.para .text {
  font-size: 25px;
  line-height: 30px;
  color: rgba(11, 9, 10, 0.6);
  margin-bottom: 32px;
}
.para .link {
  font-size: 25px;
  line-height: 30px;
  color: var(--orange-web);
  text-decoration: underline;
}
.para .link:hover {
  color: var(--selective-yellow);
  transition: 0.2s ease;
}
.cards-new-arrival {
  display: flex;
  column-gap: 20px;
}
.cards {
  /* width: 340px; */
  background-color: var(--cultured);
  border-radius: 10px;
  overflow: visible;
}
/* .cards:not(:last-child) {
  margin-right: 20px;
} */
.header-new-arrival {
  padding-top: 14px;
  margin-bottom: 20px;
}
.header-new-arrival .cards-tittle {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 6px;
}
.header-new-arrival .sub-tittle {
  font-size: 16px;
  line-height: 19px;
  color: hsla(330, 10%, 4%, 0.6);
}
.card-img {
  width: 100%;
  height: 247px;
  object-fit: cover;
}
.pricemore-new-arrival .price {
  margin-top: 22px;
}
.price .light {
  color: hsla(330, 10%, 4%, 0.6);
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 4px;
}
.price .value,
.price .follows {
  font-size: 25px;
  line-height: 30px;
  color: var(--selective-yellow);
}
.header-new-arrival,
.pricemore-new-arrival {
  padding-left: 12px;
}
.header-new-arrival .tittle,
.more {
  color: var(--rich-black);
}
/* .priceMore-New-arrival .more {
  border: 1px solid var(--rich-black);
  padding:4px 24px;
  border-radius:50px;
  margin-right: 12px;
  height: fit-content;
  margin-top: 46px;
  margin-bottom: 1.250vw;
} */
.pricemore-new-arrival .more {
  margin-top: 36px;
  margin-bottom: 18px;
  margin-right: 12px;
}
.hbtn-na {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  margin: 0px 3px 6px;
  text-align: center;
  border: 2px solid #0b090a60;
  text-decoration: none;
  color: #0b090a60;
  white-space: nowrap;
  z-index: 0;
}
.hbtn-na:hover {
  border-color: var(--orange-web);
  color: var(--orange-web);
  transition: 0.2s ease;
}
.hpill-na {
  border-radius: 50px;
}

.pricemore-new-arrival {
  display: flex;
  justify-content: space-between;
}
.new-arrival {
  margin-bottom: 100px;
}
.how-it-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #faf9fa;
}
.contents-container {
  display: flex;
  margin-bottom: 100px;
}
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 308px;
  height: 100%;
}
.contents:not(:last-child) {
  margin-right: 80px;
}
.how-it-work-icons {
  display: block;
  width: 115px;
  height: 115px;
  margin-bottom: 24px;
}
.how-it-work-icons.icon1 {
  background-image: url(./icons/bean\ selected.svg);
}
.how-it-work-icons.icon2 {
  background-image: url(./icons/bean\ roasted.svg);
}
.how-it-work-icons.icon3 {
  background-image: url(./icons/shipped.svg);
}
.content-tittle {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 12px;
  text-align: center;
}
.content-text {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  opacity: 0.5;
}
.guide {
  display: flex;
  margin-top: 68px;
  margin-bottom: 68px;
  justify-content: center;
}
.guide-side {
  width: 304px;
  margin-right: 64px;
  margin-top: 98px;
}
.side-tittle {
  font-size: 49px;
  line-height: 66px;
}
.side-tittle:last-of-type {
  color: var(--persimmon);
  margin-bottom: 36px;
}
/* .side-button {
  width: fit-content;
  padding: 8px 16px;
  border: 1px solid var(--rich-black);
}
.side-button:hover {
  background: #80808020;
  transition: 0.2s;
} */
.guide img {
  width: 441px;
  height: 594px;
  object-fit: cover;
}
.guide-para {
  width: 280px;
  margin-left: 64px;
  margin-top: 140px;
}
.guide-tittle {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 36px;
}
.guide-body {
  font-size: 20px;
  line-height: 28px;
  opacity: 0.8;
}
.about-us-gallery img {
  width: 443px;
  height: 502px;
  margin-right: 16px;
}
.img-group {
  flex-direction: column;
}
.img-group img {
  width: 328px;
  height: 241px;
}
.img-group img:not(:last-of-type) {
  margin-bottom: 20px;
}
.about-us .guide-para {
  position: relative;
  width: 447px;
  margin-top: 28px;
  margin-left: 72px;
}
.about-us .container-fluid {
  margin: 0px;
  justify-content: center;
  padding: 0px;
}
.about-us {
  background-color: #faf9fa;
  padding-bottom: 68px;
}
.button-gp {
  font-size: 20px;
  line-height: 23px;
  flex-direction: row;
  box-sizing: border-box;
  padding: 12px 80px;
  border: 2px solid var(--xiketic);
}
.about-us .guide-para .wrapper {
  position: absolute;
  bottom: 28px;
}
.hbtn-au {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  margin: 0px 3px 6px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  z-index: 0;
}

.hbtn i {
  padding-right: 8px;
}

.hb-fill-top-au::before {
  position: absolute;
  content: "";
  background: var(--imperial-red) none repeat scroll 0% 0%;
  transition-duration: 0.3s;
  z-index: -1;
  inset: auto auto 0px 0px;
  width: 100%;
  height: 0px;
  opacity: 1;
}

.hb-fill-top-au:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hb-fill-top-au:hover {
  border-color: var(--imperial-red);
  color: #ffc633;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  transition: color 0.3s ease 0s, background 0s ease 0.3s;
}
.aside-wrapper {
  height: 100%;
  overflow: hidden;
  width:0;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  transition: all 0.5s; 
  padding-left: 0;
  padding-right: 0;
  padding-top: 24px;
  background-color: var(--cultured);
}
.aside-wrapper:hover {
  overflow: auto;
}
.aside-title {
  display:flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 2px solid var(--xiketic);
  margin-bottom: 16px;
  font-size: 20px;
}
.aside-title i {
  display: inline-block;
  background-image: url(./icons/arrow.svg);
  width: 18px;
  height: 18px;
  color: inherit;
  margin-top: 5px;
  cursor:pointer;
}
.slider-text {
  margin-bottom: 12px;
}
.slider-text .wrapper:first-of-type i {
  display: inline-block;
  background-image: url(./icons/shipping\ 2\ 1.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 16px;
}
.slider-text .value span {
  font-size: 14px;
  line-height: 14px;
  color: hsla(330, 10%, 4%, 0.6);
}
/* .slider-text .value {
  line-height: 0px;
} */
.progress {
  height: 8px;
  background-color: white;
  width: 90%;
  margin-right: 8px;
  margin-left: 8px;
}
.progress-bar {
  background-color: var(--selective-yellow);
}
.slider-text .wrapper:first-of-type {
  margin-bottom: 8px;
}
.slider-text .wrapper:nth-of-type(2) span {
  line-height: 0px;
  font-size: 13px;
}
.slider {
  margin-bottom: 32px;
}
.dscr-title {
  margin-bottom: 8px;
  font-size: 16px;
}
.product-card .img-wrapper img {
  width: 88px;
  height: 88px;
}
.size,
.grind {
  line-height: 19px;
}
.size span,
.grind span {
  line-height: 0px;
  font-size: 16px;
}
.size span:first-of-type,
.grind span:first-of-type {
  color: #00000080;
}
.size span:not(:first-of-type),
.grind span:nth-of-type(2) {
  color: #00000066;
}
.description i {
  display: inline-block;
  background-image: url(./icons/delete-icon.svg);
  width: 16px;
  height: 16px;
  margin-top: 2px;
}
.description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  padding-left: 16px;
}
.filter {
  margin-top: 40px;
}
.filter h1 {
  font-size: 50px;
}
.filter .title {
  margin-bottom: 36px;
}
.filter-bar .wrapper {
  margin-bottom: 16px;
}
.filter-bar .wrapper p {
  font-size: 20px;
}
.filter-bar .wrapper u {
  font-size: 13px;
  color: #00000080;
  cursor: pointer;
}
.hide {
  display: none;
}
.filter-bar .result-box {
  flex-wrap: wrap;
}
.filter-bar .result-box .tag {
  padding: 8px 12px;
  background-color: var(--selective-yellow);
  margin-bottom: 12px;
}
.filter-bar .result-box .tag:not(:last-of-type) {
  margin-right: 12px;
}
.filter-bar .result-box .tag span:not(:last-of-type) {
  font-size: 13px;
  line-height: 0px;
  padding-right: 4px;
  color: var(--cultured);
}
.filter-bar .result-box .tag .icon {
  background-image: url(icons/delete-icon-cultured.svg);
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  object-fit: cover;
  color: var(--cultured);
}
.filter-bar {
  margin-bottom: 32px;
}

.wrap-collapsible > input[type="checkbox"] {
  display: none;
}
.wrap-collapsible:not(:last-of-type) {
  margin-bottom: 4px;
}
.lbl-toggle {
  display: flex;
  font-size: 20px;
  padding: 8px 0;
  line-height: 24px;
  border-bottom: 2px solid var(--xiketic);
  position: relative;
  align-items: center;
  padding-left: 2px;
}
.lbl-toggle::after {
  content: " ";
  display: inline-block;
  position: absolute;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--xiketic);

  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
  right: 8px;
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}
.toggle:checked + .lbl-toggle::after {
  transform: rotate(90deg) translateX(-3px);
}
.content-inner input:checked {
  background-color: var(--selective-yellow);
}
label {
  cursor: pointer;
}
.content-inner {
  padding: 16px 16px;
  padding-right: 0;
  padding-bottom: 16px;
  border-bottom: 2px solid var(--xiketic);
}
.content-inner li input {
  display: none;
}
.content-inner label {
  position: relative;
}
.content-inner label::before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #c4c4c4;
  margin-right: 8px;
}
.content-inner li input:checked + label::before {
  background-color: var(--orange-web);
}
.store-product-card .name,
.store-product-card span {
  font-size: 20px;
  /* line-height: 24px; */
}
.store-product-card .italic {
  font-size: 13px;
  line-height: 16px;
  color: #00000080;
}
.store-product-card .wrap-img img {
  width: 100%;
}
.wrap-img {
  margin-bottom: 28px;
}
.store {
  padding-top: 40px;
  padding-left: 120px;
  padding-right: 0px;
}
.store-col {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 40px;
}
.store .col {
  width: calc((100% / 3) - 40px);
}
.pd-r-0 {
  padding-right: 0;
}
.wrap-price-btn {
  margin-top: 4px;
}
.store-product-card {
  padding-top: 14px;
  padding-bottom: 16px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  background-color: #faf9fa;
  margin-bottom: 48px;
}
.product-card-header .name {
  /* font-size: 24px; */
  margin-bottom: 4px;
}
.product-card-header {
  margin-bottom: 30px;
}
.product-card-header,
.wrap-price-btn,
.wrap-img + .regular {
  padding: 0 12px;
}
.wrap-price-btn input {
  display: none;
}
.wrap-price-btn label {
  display: block;
  background-image: url(../asset/icons/add-to-cart-minimal.svg);
  width: 19px;
  height: 24px;
  background-size: cover;
}
.wrap-price-btn span {
  color: var(--orange-web);
}
/* Img hover effect library */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  position: relative;
  /* width: 90%;
  max-width: 400px; */
  overflow: hidden;
}

.content .content-overlay {
  background-color: #00000060;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content .secondary-content-img-overlay {
  background-image: url(./icons/mango-minimal.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.store .store-product-card:hover .content-overlay,
.store .store-product-card:hover .secondary-content-img-overlay {
  opacity: 1;
}

.content-image {
  width: auto;
  height: 175px;
  object-fit: none !important;
}
.content-image img {
  width: 100%;
  height: 100%;
  /* object-position: -40px 80%; */
  object-position: 0 80%;
}

.content-details {
  position: absolute;
  text-align: left;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content-details-collumn .detail p:first-of-type {
  font-size: 16px;
  line-height: 20px;
  color: ghostwhite;
  margin-bottom: 2px;
  letter-spacing: 1px;
}
.content-details-collumn .detail p:nth-of-type(2) {
  font-size: 13px;
  line-height: 16px;
  color: white;
}
.content-details-collumn .detail:not(:last-of-type) {
  margin-bottom: 16px;
}
.content-details-collumn:first-child {
  margin-left: 24px;
  margin-right: 24px;
}

.store .store-product-card:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}

/*  */

.store-product-card.new-arrival-tag::before {
  display: block;
  display: flex;
  justify-content: center;
  content: "New Arrival";
  text-transform: uppercase;
  font-family: "bold";
  font-size: 9px;
  line-height: 11px;
  word-wrap: break-word;
  border: 1px solid var(--xiketic);
  max-width: 57px;
  height: 57px;
  padding: 16px 8px;
  padding-bottom: 0px;
  position: absolute;
  /* top:-10%;
  left: -10%; */
  top: 8px;
  right: 8px;
  background-color: white;
}

.store-product-card.new-arrival-tag {
  position: relative;
}
.store-banner {
  display: block;
  width: calc(100% - 40px);
  height: 166px;
  background-image: url(./icons/vertical-equipment-minimal.png);
  margin-bottom: 60px;
}

label.no_selection {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

section.payment {
  background-image: url(./icons/phin-minimal.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-height: fit-content;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}
.pd-x-40 {
  padding: 0 40px;
}
section.payment .row {
  position: relative;
}
/* section.payment > .container {
  background-image: url(./icons/phin-minimal.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-height: fit-content;
} */
.options-payment {
  background-color: rgba(245, 243, 244, 0.95);
  padding: 0 16px;
  margin-top: 12px;
  margin-bottom: 187px;
}
.options-payment .name-price .name {
  font-size: 49px;
  line-height: 50px;
}
.options-payment .name-price span {
  font-size: 31px;
  line-height: 38px;
  margin-right: 2px;
}
.options-payment .name-price {
  margin-bottom: 48px;
}
.options-payment .flavors p:last-child {
  margin-top: 8px;
  margin-bottom: 28px;
}
.options-payment .flavors p {
  font-size: 31px;
  line-height: 38px;
}
.options-payment .flavors .flavor-types,
.options-payment .roast-date,
.options-payment-header .best {
  font-size: 20px;
  line-height: 24px;
}
.options-payment-header {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 20px;
}
.options-payment-header .best {
  padding: 16px 16px;
  padding-top: 0;
  background-color: var(--orange-web);
  max-width: fit-content;
  margin-right: 16px;
}
.options-payment-header .best .title {
  font-size: 49px;
  line-height: 59px;
  margin-bottom: 84px;
}
.options-payment-header .line {
  border-top: 1px solid var(--xiketic);
  max-width: 24px;
  margin: 8px 0;
}
.options {
  padding: 20px 16px;
  margin-bottom: 40px;
  padding-bottom: 0;
}
.option-weight {
  margin-bottom: 20px;
}
.options .title,
.options + section label {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 12px;
}
.options input[type="checkbox"] {
  display: none;
}
.options label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  font-family: "regular";
  width: 152px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  text-transform: capitalize;
}
.options input:checked + label {
  background-color: var(--orange-web);
  transition: all 0.2s ease-out;
}
.options label:not(:last-of-type) {
  margin-right: 12px;
}
.options .wrap-checkbox:last-of-type {
  margin-top: 12px;
}

.payment form {
  width: 50%;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 56px;
}
.payment form .qty {
  font-size: 0;
  display: flex;
}
.payment form label {
  font-family: "bold";
}
.payment form button,
.payment form input,
button {
  /* delete default style */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.payment form button {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  min-width: 38px;
  height: 38px;
  text-align: center;
  vertical-align: center;
}
.payment form input {
  font-size: 20px;
  text-align: center;
  height: 38px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  border-right: none;
}
#check-out {
  margin-bottom: 20px;
}
#check-out button {
  padding: 8px 0;
  font-size: 20px;
  line-height: 24px;
  border-radius: 50px;
  width: 260px;
  transition: all 0.3s ease-in-out 0s;
}

#check-out button:first-of-type {
  background-color: var(--orange-web);
  margin-right: 12px;
}
#check-out button:first-of-type:hover,
#check-out button:first-of-type:active {
  background-color: var(--selective-yellow);
}
#check-out button:last-of-type {
  border: 1px solid var(--xiketic);
}
#check-out button:last-of-type:hover,
#check-out button:last-of-type:active {
  color: var(--persimmon);
  border-color: var(--persimmon);
}
#story-details {
  width: 100%;
  min-height: 370px;
  position: absolute;
  bottom: -215px;
  background-color: var(--selective-yellow);
  border-radius: 10px;
  padding: 40px 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  letter-spacing: 0.02em;
}
#story-details .col-5 {
  padding: 36px 28px;
  background-color: var(--cultured);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  min-height: 100%;
}
#story-details .col-5 p:first-child {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}
#story-details .story {
  margin-right: 20px;
}
#story-details .story-content {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "regular";
}
#story-details i {
  display: block;
  width: 30px;
  height: 30px;
  /* background-image: url(../asset/icons/earth.svg); */
  background-repeat: no-repeat;
  background-size: cover;
}
#story-details .wrap {
  margin-left: 12px;
}
#story-details .wrap p:first-of-type {
  font-family: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
}
#story-details .wrap p:nth-of-type(2) {
  font-family: "regular";
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}
#story-details .detail div:not(.wrap) {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#story-details .detail div:nth-last-of-type(-n + 2) {
  margin-bottom: 0;
}

#story-details .wrap-origin > i {
  background-image: url(../asset/icons/earth.svg);
}
#story-details .wrap-process > i {
  background-image: url(../asset/icons/process.svg);
}
#story-details .wrap-region > i {
  background-image: url(../asset/icons/place_black_24dp.svg);
}
#story-details .wrap-producer > i {
  background-image: url(../asset/icons/producer.svg);
}
#story-details .wrap-altitude > i {
  background-image: url(../asset/icons/landscape_black_24dp.svg);
}
#story-details .wrap-variety > i {
  background-image: url(../asset/icons/leaf.svg);
}
#story-details .wrap-process > i {
  background-image: url(../asset/icons/process.svg);
}
#story-details .wrap-producer > i {
  background-image: url(../asset/icons/producer.svg);
}
#recommendation {
  margin-top: 256px;
  width: 100%;
  height: fit-content;
}
#recommendation .title {
  letter-spacing: 1.5em;
  font-size: 39px;
  line-height: 48px;
}
#recommendation .store {
  padding: 0;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

section .qty:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.wrap-checkbox label:hover {
  border-color: var(--persimmon);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.content__item {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.link {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
  color: var(--xiketic);
}
.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: "";
  /* show by default */
}

.link--metis::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link--metis:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}
.main-recipe {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
.wrapper-articles-recipe .title-recipe {
  font-size: 31px;
  line-height: 61px;
  padding: 48px 0;
}
.articles-recipe {
  display: flex;
  gap: 16px;
  flex-flow: row wrap;
  align-self: flex-end;
}
.articles-recipe:first-child {
  color: red;
}
.article-recipe {
  width: calc(100% / 4 - 16px);
  background-color: var(--cultured);
  border: 1px solid rgba(211, 211, 211, 1);
  border-radius: 8px;
}
.article-recipe .img-wrapper {
  width: 100%;
  height: 175px;
  object-fit: contain;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: static;
}
.article-recipe img {
  height: 100%;
  width: 100%;
  position: static;
}
.article-recipe .content-wrapper {
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.article-recipe .content-wrapper .name {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
}
.article-recipe .content-wrapper .time span {
  font-size: 13px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.article-recipe .content-wrapper a {
  align-self: flex-end;
  font-size: 16px;
  line-height: 20px;
  position: unset;
  text-decoration: underline;
}
.side-bar-recipe {
  margin-top: 48px;
}
.side-bar-recipe .decoration {
  border: 5px solid var(--orange-web);
  padding: 52px 24px;

  font-size: 39px;
  line-height: 61px;
}
.side-bar-recipe .decoration a {
  color: var(--orange-web);
}
.side-bar-recipe a {
  margin-top: 48px;
  margin-bottom: 52px;
}
.side-bar-recipe .title-intro-recipe {
  font-size: 25px;
  line-height: 31px;
  color: var(--orange-web);
  margin-bottom: 32px;
}
.side-bar-recipe .text-intro-recipe {
  font-size: 20px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
}
/* .product-value form {
 
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 56px;
} */

.product-value {
  margin-top: 58px;
  margin-bottom: 44px;
}
.product-value > * {
  --product-value-gap: 60px;
  width: calc(100% - var(--product-value-gap));
}
.product-value form .qty {
  font-size: 0;
  display: flex;
}
/* .product-value form label {
  font-family: "bold";
} */
.product-value form button,
.product-value form input,
button {
  /* delete default style */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.product-value form button {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 16px;
  min-width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: center;
}
.product-value form button:last-of-type {
  border-left: none;
}
.product-value form button:first-of-type {
  border-right: none;
}
.product-value form input {
  font-size: 16px;
  text-align: center;
  height: 35px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-left: none;
  border-right: none;
}
.product-value {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}
.product-value .price-title,
.product-value label {
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.5);
}
/* .product-value .price-title {
  line-height: 0;
} */
.product-value .price span:last-of-type {
  font-size: 16px;
  font-family: "condensed-bold";
}
.product-value section {
  width: fit-content;
}
.recommendations-aside-mainpage {
  margin-bottom: 38px;
}
.recommendations-aside-mainpage .title {
  margin-bottom: 20px;
}
.recommendations-aside-mainpage .recommendation {
  display: flex;
  background-color: white;
  border-radius: 8px;
}
.recommendations-aside-mainpage .wrapper-recommendations {
  flex-direction: column;
  row-gap: 16px;

}
.recommendations-aside-mainpage .img-wrapper {
  --img-width: 80px;
  min-width: var(--img-width);
  height: var(--img-width);
  object-fit: fill;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.recommendations-aside-mainpage .img-wrapper img {
  height: 100%;
  width: 100%;
}
.recommendations-aside-mainpage .content {
  --margin-vertical: 8px;
  font-family: "bold";
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 4px;
  margin-top: var(--margin-vertical);
  margin-bottom: var(--margin-vertical);
  margin-left: 16px;
  margin-right: 12px;
}
.recommendations-aside-mainpage .content p:first-child {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 16px;
}
.recommendations-aside-mainpage .content span {
  color: var(--orange-web);
}
.recommendations-aside-mainpage i {
  --margin: 2px;
  --i-width: 28px;
  display: block;
  background-image: url(../asset/icons/plus-square-minimal.svg);
  width: var(--i-width);
  height: var(--i-width);
  margin-top: var(--margin);
  margin-right: var(--margin);
}
.recommendations-aside-mainpage .content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.checkout-aside {
 box-sizing: border-box;
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.05);
  padding: 28px 20px;
  padding-bottom: 0;
}
.checkout-aside .price {
  display: flex;
  justify-content: space-between;
  margin: 28px 0;
}
.checkout-aside .price p, .checkout-aside .price span:first-of-type {
font-size:25px;
line-height: 30px;
}
.checkout-aside .price span{
  color: var(--persimmon);
  font-family: "condensed-bold";
}
.checkout-aside .price span:last-of-type {
font-size: 16px;
line-height: 13px;
}
.checkout-aside .wrapper {
  height: 52px;
  width: 100%;
  background-color: var(--orange-web);
  display: flex;
  justify-content: center;
  align-items: center;
}


