/* * {
    box-sizing: border-box;
} */
* {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}
.board {
  border: 2px solid black;
}
.row {
  margin: 0;
  display: flex;
  justify-content: center;
}
.row:nth-of-type(2) {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.square {
  --width: 50px;
  width: var(--width);
  height: var(--width);
  margin: 0;
}
.row .square:nth-of-type(2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
